.home {
  .list-recommended {
    display: grid;
    grid-template-rows: repeat(2, 1fr); /* 2 rows */
    grid-template-columns: repeat(4, 1fr); /* 4 columns */
    margin: 56px 152px;
  }
  .view-more-section {
    margin-top: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
