.food-card {
  position: relative;
  height: 234px;
  width: 234px;
  margin: 4px;
  img {
    width: 234px;
    height: 234px;
    object-fit: cover;
  }

  span {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    color: var(--light);
    background-color: var(--primary-300);
    display: flex;
    align-items: center;
    min-width: 112px;
    min-height: 32px;
    position: absolute;
    left: 0;
    bottom: 0;
    padding: 0 8px;
  }
}
